{% extends "base.html" %} 
{% block title %}Products{% endblock %} 
{% block header %}Products Page{% endblock %} 
{% load static %} {% block content %}
<div class="col-md-12 offset-md-0">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title mt-2">Item Table</h3>
      <a href="#" class="btn btn-primary float-right">Create</a>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th style="width: 120px">Item ID</th>
            <th>Item Name</th>
            <th>Item Description</th>
            <th>Category</th>
            <th>Image</th>
            <th>Created At</th>
            <th>Updated At</th>
            <th class="w-auto text-center">Action</th>
          </tr>
        </thead>
        <!-- <tbody>
          {% for item in items %}
          <tr>
            <td>{{ item.item_id }}</td>
            <td>{{ item.item_name }}</td>
            <td>{{ item.item_desc }}</td>
            <td>{{ item.cate_id.cate_name }}</td>
            <td>
              {% if item.item_img %}
              <img src="#" style="width: 50px; height: 50px;" alt="">
              {% else %}
              <img src="" style="width: 50px; height: 50px;" alt="">
              {% endif %}
            </td>
            <td>{{ item.created_at|date:'d-M-Y' }}</td>
            <td>{{ item.updated_at|date:'d-M-Y' }}</td>

            <td class="p-2 text-center">
              <a href="{% url 'item_edit' item.item_id %}" class="btn btn-warning ">Edit</a>
              <a onclick="delete_item('{{ item.item_id }}')" class="btn btn-danger ">
                Delete
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody> -->
      </table>
    </div>
    <!-- /.card-body -->
    <div class="card-footer clearfix">
      <ul class="pagination pagination-sm m-0 float-right">
        <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
      </ul>
    </div>
  </div>
</div>
<script>
  function delete_item(id) {
    Swal.fire({
      title: "Are you sure?",
      text: "Delete this Item",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Yes, delete it!",
    }).then((result) => {
      if (result.isConfirmed) {
        window.location.href = "item/delete/" + id + "/";
      }
    });
  }
</script>
{% endblock %}
