{% extends "base.html" %} 
{% block title %}User{% endblock %}
{% block header %}User Page{% endblock %}
{% load static %}
{% block content %}
<div class="col-md-12 offset-md-0">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title mt-2">User Table</h3>
      <a href="{% url 'addform_user' %}" class="btn btn-primary float-right"
        >Create</a
      >
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th style="width: 120px">USER ID</th>
            <th>USER NAME</th>
            <th>IS SUPERUSER</th>
            <th>IS STAFF</th>
            <th>STATUS</th>
            <th>JOIN DATE</th>
            <th>LAST LOGIN</th>
            <th class="w-auto text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for item in users %}
          <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.username }}</td>
            <td>{{ item.is_superuser }}</td>
            <td>{{ item.is_staff }}</td>
            <td>
              {% if item.is_active %}
              Active
              {% else %}
              Inactive
              {% endif %}
            </td>
            <td>{{ item.date_joined|date:'d-M-Y' }}</td>
            <td>{{ item.last_login|date:'d-M-Y' }}</td>
            <td class="p-2 text-center">
              <a
                href="{% url 'view_user' item.id %}"
                class="btn btn-primary"
                >View</a
              >
              <a
                href="{% url 'edit_user' item.id %}"
                class="btn btn-warning"
                >Edit</a
              >
              <a onclick="delete_item('{{ item.id }}')" class="btn btn-danger">
                Delete
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- /.card-body -->
    <div class="card-footer clearfix">
      <ul class="pagination pagination-sm m-0 float-right">
        <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
      </ul>
    </div>
  </div>
</div>
<script>
  function delete_item(id) {
    Swal.fire({
      title: "Are you sure?",
      text: "Delete this Item",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Yes, delete it!",
    }).then((result) => {
      if (result.isConfirmed) {
        window.location.href = "delete/" + id + "/";
      }
    });
  }
</script>
{% endblock %}
